*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
background-color: brown;
height: 100vh;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

a, button{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.dropdown{
height: 20vh;
background-color: white;
display: flex;
justify-content: space-around;

}